.intro {
    color: white;
    display: flex;
  
    background:-moz-linear-gradient(14deg, rgba(149, 0, 255, 1) 42%, rgba(0, 118, 221, 1) 85%); 
    background:-webkit-linear-gradient(14deg, rgba(149, 0, 255, 1) 42%, rgba(0, 118, 221, 1) 85%);
    background:-o-linear-gradient(14deg, rgba(149, 0, 255, 1) 42%, rgba(0, 118, 221, 1) 85%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9500FF', endColorstr='#0076DD', GradientType=1 );
    background:-ms-linear-gradient(14deg, rgba(149, 0, 255, 1) 42%, rgba(0, 118, 221, 1) 85%);
    background:linear-gradient(14deg, rgba(149, 0, 255, 1) 42%, rgba(0, 118, 221, 1) 85%);
  
   

    .wrapper {
        margin: auto;
        font-size: 30px;
        font-weight: 700;

        .btn {
            transition: all .5s ease-in-out;
            background-color: transparent;
            color: white;
            width: 100px;
            height: 40px;
            border-color: white;
            cursor: pointer;
            text-decoration: none;
            border: 1px solid;
            overflow: hidden;
            position: relative;
            outline: none;
            border-radius: 30px;

            &:hover {
                background-color: #fff;
                color: black;
                outline: none;
                border-color: white;
                width: 150px;
                font-weight: 500;
                letter-spacing: 1px;
              }
        }

        

        h3 {
            font-size: 20px;
            font-weight: 300;
        }

        h4 {
            font-size: 15px;
            font-weight: 300;
        }

      }
  
}